/* styles.css */




.radios {
    margin-bottom: 20px;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
}

.rating {
    margin-top: 10px;
}

.rating button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust size of stars */
    color: #FFD700; /* Gold color for stars */
    margin: 0 5px; /* Spacing between stars */
}


.single-movie {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 150px; 
    transition: transform 0.2s; 
}

.single-movie:hover {
    transform: scale(1.05); 
}
